@charset "utf-8";
/* CSS Document */


.float-left{
	float:left;
}

.display-inline{
	display:inline;
}


.aef-em-theme-default .aef-em-container {
	overflow:hidden;
	border:1px solid #DEDEDE;
	margin:0px;
}

.aef-em-theme-default .aef-em-container {
	width:180px;
}

.aef-em-theme-default .aef-em-container-fullwidth {
  width:100%;
}

.aef-em-theme-default .aef-em-container td,
.aef-em-theme-default .aef-em-container th
{
	padding:0px;
}

.aef-em-theme-default .aef-em-container td {
	padding-left:5px;
	padding-right:5px;
}

.aef-em-theme-default .aef-em-title{
	overflow:hidden;
	font-weight:bold;
}

.aef-em-theme-default .aef-em-title td {
  padding:4px;
  margin:3px;
}

.aef-em-theme-default .aef-em-title div{
  background-color:#f5f5f7; 
  padding: 3px;
  color: #062F71;
  font-size:12px;
  text-transform:uppercase;
}

.aef-em-theme-default .aef-em-title .feed-icon img {
  height:10px;
  width:10px;
  padding-right:5px; /** LTR */
}

.aef-em-no-title {
  display:none;
}


.aef-em-theme-default .aef-em-title .aef-me-title-arrows {
  float:right; /** LTR */
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrow {
  width: 6px;
  height: 16px;
  cursor: pointer;
  display:block;
  padding:0px;
  float:left;
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-prev{
  background: transparent url(images/carousel-left.png) no-repeat 0 4px;
  margin-right:4px; /** LTR */
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-prev:hover {
    background-position: -6px 4px;
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-prev:active {
    background-position: -12px 4px;
}

.aef-em-theme-default .aef-em-title .jcarousel-prev-disabled-horizontal,
.aef-em-theme-default .aef-em-title .jcarousel-prev-disabled-horizontal:hover,
.aef-em-theme-default .aef-em-title .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -18px 4px;
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-next{
  background: transparent url(images/carousel-right.png) no-repeat 0 4px;
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-next:hover {
    background-position: -6px 4px;
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-next:active {
    background-position: -12px 4px;
}

.aef-em-theme-default .aef-em-title .jcarousel-next-disabled-horizontal,
.aef-em-theme-default .aef-em-title .jcarousel-next-disabled-horizontal:hover,
.aef-em-theme-default .aef-em-title .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -18px 4px;
}


.aef-em-theme-default .aef-em-photo-header td{
  padding:0px;
  line-height:0px;
}


.aef-em-theme-default .aef-em-photo{
}

.aef-em-theme-default .aef-em-photo td {
	padding:0px;
}

.aef-em-theme-default .aef-em-photo-set {
  margin:auto;
}

.aef-em-theme-default .aef-em-photo-more {
  padding-top:5px;
  padding-bottom:5px;
}

.aef-em-theme-default .aef-em-photo-more-title,
.aef-em-theme-default .aef-em-photo-more-legend,
.aef-em-theme-default .aef-em-photo-more-copyright
{
	padding-left:5px;
	padding-right:5px;
}

.aef-em-theme-default .aef-em-photo-more-title
{
  font-size:15px;
  font-weight:bold;
}

.aef-em-theme-default .aef-em-photo-more-legend
{
  font-size:11px;
  line-height:130%;
}

.aef-em-theme-default .aef-em-photo-more-copyright {
  font-size:9px;
  font-weight:normal;
}

.aef-em-theme-default .aef-em-photo .aef-em-photo-photo 
{
	line-height:0px;
}



.aef-em-theme-default .aef-em-diaporama-container
{
	position:relative;
  overflow:hidden;
  margin:auto;
}

.aef-em-theme-default .aef-em-diaporama-container .aef-em-photo-more
{
	color: white;
}

.aef-em-theme-default .aef-em-diaporama-display
{
  background-color:#333333;
  overflow:hidden;
}

.aef-em-theme-default .aef-em-diaporama-display .aef-em-photo-set
{
}

.aef-em-theme-default a.aef-em-diaporama-left-arrow
{
	background: transparent url(images/fleche1-faded.png) no-repeat scroll left center;
	display:block;
	width:80px;
	z-index:10;
	position:absolute;
	cursor:pointer;
	left:0px;
}

.aef-em-theme-default a.aef-em-diaporama-left-arrow:hover
{
	background: transparent url(images/fleche1.png) no-repeat scroll left center;
}

.aef-em-theme-default a.aef-em-diaporama-right-arrow
{
	background: transparent url(images/fleche2-faded.png) no-repeat scroll right center;
	display:block;
	width:80px;
	z-index:10;
	position:absolute;
	cursor:pointer;
	right:0px;
}

.aef-em-theme-default a.aef-em-diaporama-right-arrow:hover
{
	background: transparent url(images/fleche2.png) no-repeat scroll right center;
}

.aef-em-theme-default .aef-em-diaporama-display-nav
{
	padding:10px 0px;
  margin:0px;
  margin:auto;
}

.aef-em-theme-default .aef-em-diaporama-display-nav li 
{ 
	float: left; /** LTR */
	margin-left: 8px; 
	margin-right: 0px; 
	list-style: none;
}

.aef-em-theme-default .aef-em-diaporama-display-nav li.aef-em-diaporama-nav-thumb a
{
	margin-bottom:5px;
	padding: 3px; 
	display: block; 
	border: 1px solid #ccc;
	line-height:0px;
}

.aef-em-theme-default .aef-em-diaporama-display-nav li.aef-em-diaporama-nav-thumb a.activeSlide {
	background: #b8cce5;
	padding:0px !important;
	border: 4px solid #6F8AAA !important;
}

.aef-em-theme-default .aef-em-diaporama-display-nav li.aef-em-diaporama-nav-number a
{
	width: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align:center;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration:none;
	font-size:14px;
	display:block;
	border: 4px solid #F2F2F9;
}

.aef-em-theme-default .aef-em-diaporama-display-nav li.aef-em-diaporama-nav-number a.activeSlide {
	background: #b8cce5;
	border: 4px solid #6F8AAA !important;
}

/** Video */

.aef-em-theme-default td.media-group_video-group-field_em_video_node_reference {
	padding:0px;
}


/** Lightbox Photos */

#imageData #imageDetails #caption {
	font-weight:normal;
	display:block;
}

.aef-em-theme-default .aef-em-photo-lightbox-caption-title {
	font-weight:bold;
}

/** End lightbox */

.aef-em-theme-default .aef-em-legend{
  font-size:11px;
  color:#848484;
  line-height:130%;
}

.aef-em-theme-default .aef-em-legend div {
	padding:6px 0px 6px 0px;
}


.aef-em-theme-default .aef-em-items{
}

.aef-em-theme-default .aef-em-items li {
	padding:0px;
	list-style:disc inside;
}

.aef-em-theme-default .aef-em-items ul {
	padding:0;
	line-height:19px;
	padding:10px 5px;
}

.aef-em-theme-default .aef-em-items  {
}

.aef-em-theme-default .aef-em-items ul li{
	background: transparent none no-repeat 0 0;
  color:#373737;
  font-size:11px;
  line-height:110%;
}

.aef-em-theme-default .aef-em-links td{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.aef-em-theme-default .aef-em-links ul{
}

.aef-em-theme-default .aef-em-links ul li{
	background: transparent none no-repeat 0 0;
	padding: 0px;
	margin: 0px;
}

.aef-em-theme-default .aef-em-links a{
	padding:5px 5px 5px 5px;
	display:block;
	text-decoration:none;
}

.aef-em-theme-default .aef-em-links div{
}

.aef-em-theme-default .aef-em-text div{
	padding:5px 5px 5px 5px;
}

.aef-em-theme-default .aef-em-quote-header td{
	background-image: url(images/quote-top.gif);
	background-repeat: no-repeat;
	background-position: top left;
	height:27px;
}

.aef-em-theme-default .aef-em-quote td{
	overflow:hidden;
	margin:0;
}

.aef-em-theme-default .aef-em-quote div{
	padding-left:15px;
	padding-right:15px;
}

.aef-em-theme-default .aef-em-quote-footer td{
	background-image: url(images/quote-bottom.gif);
	background-repeat: no-repeat;
	background-position: top right;
	height:27px;
}

.aef-em-theme-default .aef-em-quote-source td {
	padding-left:10px;
}

.aef-em-theme-default .aef-em-quote-source div{
	padding-bottom:3px;
	margin:0 auto;
}

.aef-em-theme-default .aef-em-player{
}

.aef-em-theme-default .aef-em-player object{
	margin:10px 0px 5px 0px;
}

.aef-em-theme-default .aef-em-audio-details td {
	padding:0px 10px;
}

.aef-em-theme-default .aef-em-audio-author td{
	margin:5px 6px 7px 18px;
	overflow:hidden;
}


.aef-em-theme-default .aef-em-audio-author-nom{
}

.aef-em-theme-default .aef-em-audio-author-legende{
}

.aef-em-theme-default .aef-em-link-edit div{
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

.aef-em-theme-default .aef-em-twitter .f24_cck_em_twit_username
{
	font-weight:bold;
}

.aef-em-theme-default .aef-em-twitter .f24_cck_em_twit_userimage
{
	float:left; /* LTR */
	margin: 5px 5px 0 0; /* LTR */
}

.aef-em-theme-default .aef-em-twitter .f24_cck_em_twit_userimage img
{
	height:48px;
	width:48px;
}

.aef-em-theme-default .aef-em-twitter .f24_cck_em_twit_date
{
	font-size:10px;
}

.aef-em-theme-default .aef-em-twitter_follow_us
{
	float:right;
}

.aef-em-theme-default .aef-em-twitter_follow_us img
{
	vertical-align:bottom;
}

.aef-em-theme-default .aef-em-twitter li
{
	background: transparent none no-repeat 0 0;
	clear:both;
	list-style-type:none;
	padding:4px;
	text-align:justify;
	line-height:normal;
	height:76px;
	overflow:hidden;
	margin:0px;
}

.aef-em-theme-default .aef-em-container td.media-group_table-group-field_em_table
{
  padding-bottom:5px;
}


.aef-em-theme-default div.field-items div.field-item-formatter-aef_node_formatter_proxy_small_display,
.aef-em-theme-default div.view-content div.views-row-formatter-aef_node_formatter_proxy_small_display
{
  border-bottom: 1px dotted #cccccc;
  padding-top:13px;
  padding-bottom:10px;
}

.aef-em-theme-default div.field-items div.field-item-last div.field-item-formatter-aef_node_formatter_proxy_small_display,
.aef-em-theme-default div.view-content div.views-row-last div.views-row-formatter-aef_node_formatter_proxy_small_display
{
  border-bottom: 0px;
}

/**********************************************************/

.aef-em-theme-embed .aef-em-title div{
  color: black;
}


/**********************************************************/


div.field-item div.field-item-formatter-multimedia_element_wide
{
  padding-bottom:10px;
}

/*********************************************************/
/* PUT IN F24
.aef-em-theme-default-2 {
  border:1px solid #dedede;
}
*/
.aef-em-theme-default-2 .aef-em-container {
  width:100%;
}

.aef-em-theme-default-2-corner-1 {
  background-image:url(images/corner-lt.png);
  background-position:0 0;
  background-repeat:no-repeat;
  left:-1px;
  position:relative;
  top:-1px;
}

.aef-em-theme-default-2-corner-2 {
  background-image:url(images/corner-rt.png);
  background-position:100% 0;
  background-repeat:no-repeat;
  left:2px;
  position:relative;
}

.aef-em-theme-default-2-corner-3 {
  background-image:url(images/corner-rb.png);
  background-position:100% 100%;
  background-repeat:no-repeat;
  position:relative;
  top:2px;
}

.aef-em-theme-default-2-corner-4 {
  background-image:url(images/corner-lb.png);
  background-position:0 100%;
  background-repeat:no-repeat;
  left:-2px;
  overflow:hidden;
  padding: 10px;
  position:relative;
}

.aef-em-theme-default-2 .aef-em-container {
	border:0px;
}

.aef-em-theme-default-2 tbody {
  border:0px solid #cccccc;
}

.aef-em-theme-default-2 .aef-em-title td {
  margin:0px;
  padding:0px;
}

.aef-em-theme-default-2 .aef-em-title div{
  color:#062f71; 
  font-size:12px;
  text-transform:uppercase;
  background-color:#ffffff;
  text-align:center;
}

.aef-em-theme-default-2 .feed-icon {
  display:none;
}

.aef-em-theme-default-2 .aef-em-title .aef-jcarousel-arrows-prev{
  background: transparent url(images/carousel-left.png) no-repeat 0 2px;
}

.aef-em-theme-default-2 .aef-em-title .aef-jcarousel-arrows-prev:hover {
    background-position: -6px 2px;
}

.aef-em-theme-default-2 .aef-em-title .aef-jcarousel-arrows-prev:active {
    background-position: -12px 2px;
}

.aef-em-theme-default-2 .aef-em-title .jcarousel-prev-disabled-horizontal,
.aef-em-theme-default-2 .aef-em-title .jcarousel-prev-disabled-horizontal:hover,
.aef-em-theme-default-2 .aef-em-title .jcarousel-prev-disabled-horizontal:active {
    background-position: -18px 2px;
}

.aef-em-theme-default-2 .aef-em-title .aef-jcarousel-arrows-next{
  background: transparent url(images/carousel-right.png) no-repeat 0 2px;
}

.aef-em-theme-default-2 .aef-em-title .aef-jcarousel-arrows-next:hover {
    background-position: -6px 2px;
}

.aef-em-theme-default-2 .aef-em-title .aef-jcarousel-arrows-next:active {
    background-position: -12px 2px;
}

.aef-em-theme-default-2 .aef-em-title .jcarousel-next-disabled-horizontal,
.aef-em-theme-default-2 .aef-em-title .jcarousel-next-disabled-horizontal:hover,
.aef-em-theme-default-2 .aef-em-title .jcarousel-next-disabled-horizontal:active {
    background-position: -18px 2px;
}

.aef-em-theme-default-2 .aef-em-container td {
	padding-left:0px;
	padding-right:0px;
  background-color:#ffffff;
}
