.aef-em-theme-default .aef-em-title .feed-icon img {
  padding-left:5px;
}

.aef-em-theme-default .aef-em-title .aef-me-title-arrows {
  float:left;
}

.aef-em-theme-default .aef-em-title .aef-jcarousel-arrows-prev{
  margin-left:4px;
}


.aef-em-theme-default .aef-em-twitter
{
	font-size:13px;
	line-height:1em;
}

.aef-em-theme-default .aef-em-twitter .f24_cck_em_twit_userimage
{
	float:right;
	margin: 5px 0px 0 5px;
}

.aef-em-theme-default .aef-em-twitter li
{
	direction:rtl;
}

.aef-em-theme-default .aef-em-diaporama-display-nav li 
{ 
	float:right;
}
